apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: three-tier
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: 302263040775.dkr.ecr.ap-south-1.amazonaws.com/backend:latest
        envFrom:
        - configMapRef:
            name: app-config
        - secretRef:
            name: db-secret
        ports:
        - containerPort: 3000
