apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: three-tier
spec:
  type: NodePort
  selector:
    app: backend
  ports:
  - port: 3000
    targetPort: 3000
    nodePort: 30007
